@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "cross-browser.scss";
@import "layout.scss";
@import "sections.scss";
@import "parts.scss";
@import "text.scss";
@import "components.scss";

html {
  font-family: Helvetica, serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #2665b6;
}
