<div class="mt-4 flex gap-4">
  <a class="block brightness-90 hover:brightness-125" href="https://mastodon.social/@meldanor" title="Mastodon Profile"
    aria-label="Mastodon Profile (opens in a new tab)" target="_blank" rel="noreferrer noopener">
    {% set svg = load_data(path="icons/mastodon_logo-purple.svg", required=true) %}
    {{ svg | replace(from="<CLASS>", to="m-0! h-8 w-8") | safe }}
  </a>
  <a class="block brightness-50 hover:brightness-0 dark:brightness-75 dark:hover:brightness-125"
    href="https://github.com/Meldanor/" title="GitHub Profile" aria-label="GitHub Profile (opens in a new tab)"
    target="_blank" rel="noreferrer noopener">
    {% set svg = load_data(path="icons/github-mark-white.svg", required=true) %}
    {{ svg | replace(from="<CLASS>", to="m-0! h-8 w-8") | safe }}
  </a>
  <a class="block hover:text-gray-600 dark:text-gray-200 dark:hover:text-white"
    href="mailto:{{ config.extra.contact_email }}" title="E-Mail me" aria-label="E-Mail" target="_blank"
    rel="noreferrer noopener">
    {% set svg = load_data(path="icons/mail_logo-black.svg", required=true) %}
    {{ svg | replace(from="<CLASS>", to="m-0! h-8 w-8") | safe }}
  </a>
</div>
