@font-face {
  font-family: 'Trirong';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Trirong-Regular.ttf') format('truetype');
}

hr {
  border-color: rgba(195, 224, 241, var(--tw-border-opacity));
}
