{% extends "base.html" %}

{% block content %}
<article class="p-2">
    <div class="flex align-bottom items-end">
        <h2 class="!my-0">
            {{ page.title }}
        </h2>
        <span class="ml-auto">
            {{ page.date }}
        </span>
    </div>
    <hr class="!my-4">
    <div class="text-base">
        <h3 class="!mt-2">Table of Contents</h3>
        {% if page.toc %}
        <ul>
            {% for h1 in page.toc %}
            <li class="!my-0">
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                <ul class="!my-0">
                    {% for h2 in h1.children %}
                    <li class="!my-0">
                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <hr class="!my-4">
    {{ page.content | safe }}
    <hr class="!mt-4 !mb-8">
    <p class="text-base">
        You have questions or want to say something about this topic? Write me! <strong>contact[at]meldanor[dot]me</strong>
    </p>
</article>
{% endblock content %}
