.about-section {
  background-image: linear-gradient(0deg, #39ba4175 0%, #c2e9fb 100%);
  display: flex;
}

#about-container {
  background-color: #fffcfc78;
  margin: auto;
  display: flex;
}

#about-me {
  background-color: transparent;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}

#about-soft-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.soft-skill-block {
  width: 10rem;
  height: 10rem;
  color: #fffffff0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: gray 1px solid;

  @include xsm {
    width: 7.5rem;
    height: 7.5rem;
  }

  @include md {
    margin: 0.25rem;
  }

  @include lg {
    margin: 1.5rem;
    width: 10rem;
    height: 10rem;
  }

  p {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 75%;
    background-color: black;
  }
}
