.hobbies-section {
  background-color: $light-gray;
  margin-top: 5rem;
  padding-top: 0.1rem;
}

#hobbie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: 1rem;
  margin-right: 1rem;

  div {
    @include box-border;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 1rem;

    @include xsm() {
      flex-basis: 100%;
    }

    @include md() {
      flex-basis: 75%;
    }

    @include lg() {
      flex-basis: 32%;
    }

    & > h2 {
      text-align: center;
    }

    & > p {
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: justify;
    }
  }
}


