.skills-section {
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include xsm {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  @include md {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

.skill-block {
  background-color: white;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  @include box-border;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-out;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &-title {
    height: 50%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 0.5rem;

    &-container {
      display: flex;
      align-items: center;
      height: 50%;


      & > h2 {
        font-size: 2rem;
        margin: 0;
      }

      & > img {
        width: 32px;
        height: 32px;
        margin-right: 1rem;
      }
    }

    & > h3 {
      font-weight: initial;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  &-text {
    height: 50%;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    text-align: justify;
    font-size: large;
    font-weight: lighter;
  }
}


