header {
  z-index: 1;

  nav {
    background: #a1c4fd;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    a {
      color: #505050;
      font-weight: bold;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1.25rem;

      &:hover {
        color: black;
      }
    }
  }
}
