{% extends "base.html" %}
{% block content %}
<div class="lg:flex lg:gap-4 lg:justify-between">
  <div class="lg:sticky lg:top-20 lg:w-2/5 h-full lg:mb-0 mb-8">
    <h1 class="text-5xl !mb-2 tracking-tight">Kilian Gärtner</h1>
    <h2 class="font-light tracking-tight !mt-0">Software Engineer <br>M.Sc. Computer Science</h2>
    <p>I build backend systems, lead teams and do small game dev</p>
    {% set image = resize_image(path="/images/avatar_2022.png", height=100, width=100, op="fit", format="webp",
    quality=90) %}
    <img alt="avatar image of meldanor. A round head with big friendly eyes and a red mouth"
      class="!my-0 rounded-full drop-shadow-md" src="{{ image.url }}" />
    <!-- Socials -->
    <div class="mt-4 flex gap-4">
      <a class="block brightness-90 hover:brightness-125" href="https://mastodon.social/@meldanor"
        title="Mastodon Profile" aria-label="Mastodon Profile (opens in a new tab)" target="_blank"
        rel="noreferrer noopener">
        {% set svg = load_data(path="icons/mastodon_logo-purple.svg", required=true) %}
        <picture class="!m-0 [&>svg]:h-8 [&>svg]:w-8">
          {{svg | safe }}
        </picture>
      </a>
      <a class="block brightness-50 hover:brightness-0 dark:brightness-75 dark:hover:brightness-125"
        href="https://github.com/Meldanor/" title="GitHub Profile" aria-label="GitHub Profile (opens in a new tab)"
        target="_blank" rel="noreferrer noopener">
        {% set svg = load_data(path="icons/github-mark-white.svg", required=true) %}
        <picture class="!m-0 [&>svg]:h-8 [&>svg]:w-8">
          {{svg | safe }}
        </picture>
      </a>
      <a class="block hover:text-gray-600 dark:text-gray-200 dark:hover:text-white"
        href="mailto:contact@kilian-gaertner.dev" title="E-Mail me" aria-label="E-Mail" target="_blank"
        rel="noreferrer noopener">
        {% set svg = load_data(path="icons/mail_logo-black.svg", required=true) %}
        <picture class="!m-0 [&>svg]:h-8 [&>svg]:w-8">
          {{svg | safe }}
        </picture>
      </a>
    </div>
  </div>
  <div class="lg:w-3/5">
    <div class="[&>p:first-child]:mt-0">
      {% set page = get_page(path="about_me.md") %}
      {{ page.content | safe }}
    </div>
    <h2>Career</h2>
    <div class="flex flex-col gap-6">
      {% set section = get_section(path="career/_index.md") %}
      {% for page in section.pages %}
      <div class="grid grid-cols-[1fr_2fr]">
        <div class="text-sm content-center">
          {{ page.extra.startYear }} - {{ page.extra.endYear }}
        </div>
        <h3 class="!my-0">{{ page.extra.position }} - {{ page.extra.company }}</h3>
        <div class="col-start-2">
          {{ page.content | safe }}
          <div class="flex flex-wrap text-sm gap-y-2">
            {% for tag in page.extra.technologies %}
            <span
              class="bg-green-100 text-green-800 font-medium me-2 px-2 py-1 rounded-full dark:bg-green-900 dark:text-green-300">{{tag}}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% set url = get_url(path="@/projects/_index.md") %}
    <h2>Some Projects / <a href="{{ url }}">All Projects</a></h2>
    <div class="flex flex-col gap-8">
      {% set section = get_section(path="projects/_index.md") %}

      {% for page in section.pages | filter(attribute="extra.on_main", value=true) %}
      {% include "projects/card.html" %}
      {% endfor %}
    </div>
  </div>
  {% endblock content %}
