---
import "../styles/global.css";

import Footer from "@components/Footer.astro";
import OpenGraph from "@components/OpenGraph.astro";
import ThemeIcon from "@components/ThemeIcon.astro";

interface Props {
  title: string;
  description: string;
  seoTags?: string[];
}

const { title, description, seoTags } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Mel's Meinungen RSS"
      href={new URL("rss.xml", Astro.site)}
    />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Mel's Meinungen Atom"
      href={new URL("atom.xml", Astro.site)}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Mel's Meinungen</title>
    <OpenGraph
      title={title}
      description={description}
      ogType="article"
      tags={seoTags}
    />
  </head>
  <body
    class="font-inter prose lg:prose-lg prose-stone dark:prose-invert mx-auto grid min-h-screen max-w-sm bg-white py-4 md:max-w-(--breakpoint-md) lg:max-w-(--breakpoint-lg) dark:bg-gray-900"
    style="grid-template-rows: auto 1fr auto"
  >
    <header class="mb-2 flex flex-row-reverse gap-6 px-4 md:mb-0">
      <ThemeIcon />
      <a
        class="rounded-lg text-2xl hover:bg-gray-100 dark:hover:bg-gray-700"
        href="/"
        aria-label="Kilians Homepage">🏠</a
      >
    </header>
    <main
      class="max-w-sm flex-1 md:max-w-(--breakpoint-md) md:p-4 lg:max-w-(--breakpoint-lg)"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
